@import "../node_modules/modern-normalize/modern-normalize.css";

main {
  background-color: #f7fee7;
  display: flex;
  justify-content: center;
}

/* img {
  display: inline;
} */

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: hidden;
}

.slides,
.slides-0,
.slides-1,
.slides-2,
.slides-3,
.slides-4 {
  width: 3000px;
}

.slides-0 {
  translate: 0;
}

.slides-1 {
  translate: -600px 0 0;
}

.slides-2 {
  translate: -1200px 0 0;
}

.slides-3 {
  translate: -1800px 0 0;
}

.slides-4 {
  translate: -2400px 0 0;
}

.navigation-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.navigation-buttons button {
  position: relative;
  top: -40px;
  background-color: rgba(255, 255, 255, 0.3);
  border: 1px, solid, white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.navigation-buttons button.button-active {
  background-color: rgba(255, 255, 255, 1);
}
