@import "../node_modules/modern-normalize/modern-normalize.css";

main {
  background-color: #f7fee7;
  display: flex;
  justify-content: center;
}

/* img {
  display: inline;
} */

.content {
  width: 600px;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: hidden;
}

.slides {
  width: 3000px;
}

.slides-0 {
  translate: 0;
}

.slides-1 {
  translate: -600px 0 0;
}

.slides-2 {
  translate: -1200px 0 0;
}

.slides-3 {
  translate: -1800px 0 0;
}

.slides-4 {
  translate: -2400px 0 0;
}
